
module mi-prometheus 1.0;

require {
	type user_home_t;
	type container_t;
	class file read;
}

#============= container_t ==============

#!!!! This avc is allowed in the current policy
allow container_t user_home_t:file read;
